/* --- SET UP --- */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* --- GENERAL --- */

h1, h2, h3, h4, h5, p, ul, li, a {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
    display: block;
}

button {
    height: 2.5rem;
    width: 8rem;
    border: none;
}


/* --- FONT FAMILIES --- */


h1, h2, h3, h4, h5, button, input[type="submit"] {
    font-family: 'Cormorant Garamond', serif;
}

nav, .footerRight ul {
    font-family: 'Catamaran', sans-serif;
}

p, input[type="email"]::placeholder {
    font-family: 'Roboto', sans-serif;
}


/* --- FONT SIZING --- */


html {
    font-size: 125%;
}

h1 {
    font-size: 7.5rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 90%;
}

h1 span {
    font-size: 11.5rem;
}

nav {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

header h2 {
    font-size: 3rem;
}

.news h2 {
    font-size: 2.5rem;
}

.highlight h3 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.6rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

button {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
}

.socialIcons {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

.iconBar i {
    font-size: 2.5rem;
}

.iconBar h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.copyright {
    font-size: 0.9rem;
    font-weight: 400;
}

h5 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
}

input[type="submit"] {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.footerRight ul {
    text-transform: uppercase;
    line-height: 29px;
}

.menuToggle {
    font-size: 2rem;
}


/* --- COLOURS --- */


h1, header h2, nav, .socialIcons, button, .iconBar {
    color: #ffffff;
}

button {
    background-color: rgba(24,51,153,0.78);
}

footer {
    background-color: #e3e3e3;
}

.copyright {
    background-color: #acacac;
}

input[type="email"], .footerRight p {
    color: #1f2022;
}

h5 {
    color: #010101;
}

.footerRight ul a {
    color: #040404;
}


/* --- HEADER --- */


header {
    background-image: url(assets/headerBackground.jpg);
    min-height: 800px;
    height: 100vh;
    background-position: center top;
}

header .wrapper {
    height: 100%;
}

h1 {
    text-align: center;
    padding-top: calc(50vh - 135px);
}

h1 span {
    display: block;
}

header h2 {
    float: left;
    width: 25%;
    line-height: 85%;
}

nav {
    float: left;
    width: 75%;
}

header h2, nav {
    padding-top: 1rem;
}

nav ul {
    text-align: right;
}

nav li {
    display: inline;
    padding: 0 2%;
    text-align: center;
}

nav li:nth-child(4) {
    padding-right: 0;
}

.socialIcons {
    clear: both;
    text-align: center;
    width: 50px;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

.socialIcons li {
    padding: 0.3rem;
}

.menuToggle {
    display: none;
}


/* --- NEWS SECTION --- */


.news h2 {
    text-align: center;
    margin: 5rem 0;
}

.newsImageContainer {
    width: calc((100% / 3) - 25px);
    float: left;
}

.newsImageContainer:nth-of-type(2) {
    margin: 0 37.5px;
}

.highlightImageContainer {
    float: left;
    width: 28%;
    margin-top: 5rem;
}

.highlightTextContainer {
    margin-left: 37.5px;
    width: calc(72% - 37.5px);
    float: left;
    margin-top: 5rem;
}

.highlight button {
    margin-top: 2.8rem;
}

.highlight h3 {
    margin-bottom: 0.5rem;
}

/* --- TREND & FASHION WEEK SECTIONS --- */

section.trends {
    margin-top: 5rem;
}

div.trends, div.fashionWeek {
    width: 50%;
    float: left;
}

div.trends {
    float: right;
}

div.trends {
    padding: 8% 8% 0 10%;
}

div.fashionWeek {
    padding: 10% 10% 0 8%;
}

.trends img, .fashionWeek img {
    width: 50%;
    float: left;
}

.trends img {
    float: right;
}

.trends h4 {
    width: 300px;
}

.fashionWeek h4 {
    width: 550px;
}

.trends h4, .fashionWeek h4 {
    margin-bottom: 1rem;
}

.trends p, .fashionWeek p {
    margin-bottom: 1rem;
}

/* --- ICONBAR --- */

section.iconBar {
    background: url(assets/iconBarBackground.jpg);
    background-position: center;
    background-size: cover;
}

ul.iconBar {
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
}

.iconBar li {
    text-align: center;
    width: calc((100% / 3) - 4rem);
    margin: 5rem 2rem;
    float: right;
}

.iconBar i {
    margin: 1rem;
}


/* --- FOOTER --- */


.footerLeft, .footerRight {
    width: 50%;
    float: left;
    padding-bottom: 5rem;
}

.footerLeft {
    margin-top: 3rem;
}

.footerRight {
    padding-left: 5rem;
}

.contact, .footerRight ul {
    float: left;
}

.contact {
    width: 75%;
    margin-top: 3rem;
}

h5 {
    padding: 0 0 0.5rem 0;
}

.footerRight ul {
    width: 25%;
    padding-top: 3rem;
    text-align: right;
}

.footerRight ul li {
    margin: 5px 0;
}

.footerLeft p {
    margin-bottom: 0.5rem;
}

.footerRight p {
    margin: 0.2rem;
}

.copyright {
    clear: both;
    text-align: center;
    padding: 0.5rem;
}

input{
    height: 2.5rem;
    padding: 0;
    border: none;
    display: inline;
}

input[type="email"] {
    width: 74%;
    padding: 0 1.5rem;
    border: none;
}

input[type="submit"] {
    background-color: black;
    color: white;
    width: 25%;
    border: none;
}


/* --- MEDIA QUERIES --- */


@media (max-width: 1400px) {
    
    div.highlightImageContainer {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%; 
    }

    div.highlightTextContainer {
        width: 60%;
        margin: 4rem 20% 0 20%;
    }

    .highlight h3 {
        margin-bottom: 1rem;
    }

    .highlight button {
        width: 30%;
        margin: 2.8rem 35% 0 35%;
    }

    div.trends, div.fashionWeek {
        width: 50%;
        padding: 5%;
        margin: 0;
    }

    .trends h4. .fashionWeek h4 {
        margin-bottom: 0.5rem;
    }

    .fashionWeek h4 {
        width: 100%;
    }

     .trends h4, .fashionWeek h4 {
        font-size: 1.5rem;
    }

    input[type="email"], input[type="submit"] {
        margin-top: 1rem;
    }

    input[type="email"] {
        width: 65%;
    }

    input[type="submit"] {
        width: 34%;
    }

    .contact p {
        font-size: 0.9rem;
    }
}

@media (max-width: 1210px) {

    div.highlightImageContainer {
        width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%; 
    }

    div.highlightTextContainer {
        width: 75%;
        margin: 4rem 12.5% 0 12.5%;
    }

    section.trends, section.fashionWeek {
        width: 50%;
        padding: 0 2.5%;
        float: left;
        margin: 5rem 0 2rem 0;
    }

    .trends h4 {
        width: 80%;
        margin: 0 10% 1rem 10%;
    }

    .trends h4, .fashionWeek h4 {
        text-align: center;
        min-height: 125px;
    }

    .trends p, .fashionWeek p {
        margin-bottom: 2rem;
    }

    .trends button, .fashionWeek button {
        width: 50%;
        margin: 0 25% 0 25%;
    }

    section.iconBar {
        clear:both;
    }

    div.trends, .trends img, div.fashionWeek, .fashionWeek img {
        float: none;
        width: 100%;
    }

    .footerLeft, .footerRight {
        float: none;
        width: 100%;
        padding: 2rem 5%;
        margin: 0;
    }

    .footerLeft h5, .footerLeft p {
        text-align: center;
    }

    .contact {
        margin-top: 0;
    }

    .footerRight ul {
        padding-top: 0;
    }
}

 @media (max-width: 900px) {

    header h2, nav li, .socialIcons, .newsImageContainer:nth-of-type(3)  {
        display: none;
    }

    h1 span {
        font-size: 8rem;
    }

    h1 {
        font-size: 5rem;
        padding-top: calc(50vh - 90px)
    }

    .newsImageContainer, .newsImageContainer:nth-of-type(2) {
        width: calc(50% - 20px);
        margin: 0 10px;
    }

    .menuToggle {
        display: block;
        text-align: right;
        position: relative;
        left: 15px;
    }

    header nav {
        width: 100%;
        text-align: center;
    }

    .highlight button {
        width: 50%;
        min-height: 3rem;
        text-align: center;
        margin: 2.8rem 25% 0 25%;
    }

    section.trends, section.fashionWeek {
        width: 100%;
        padding: 0;
        float: none;
        margin: 5rem 0 2rem 0;
    }

    section.fashionWeek {
        margin-top: 2rem;
    }

    div.trends, div.fashionWeek {
        width: 70%;
        margin: 0 15%;
    }
    
    .trends h4, .fashionWeek h4 {
        width: 100%;
        margin: 0;
        min-height: auto;
        margin-bottom: 1rem;
    }

    .trends p, .fashionWeek p {
        text-align: center;
    }

    section.iconBar {
        padding: 1rem;
    }
    
    .iconBar li {
        display: block;
        float: none;
        width: auto;
        margin: 2rem;
    }

 }

@media (max-width: 550px) {

    .wrapper {
        width: 100%;
    }

    p {
        font-size: 0.9rem;
    }

    header {
        min-height: auto;
    }

    h1 span {
        font-size: 5rem;
    }

    h1 {
        font-size: 3.5rem;
        padding-top: calc(50vh - 36px)
    }

    nav ul {
        padding-right: 15px;
    }

    .news h2 {
        font-size: 1.75rem;
    }

    div.highlightImageContainer {
        width: 85%;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }

    .highlight h3 {
        font-size: 2rem;
        text-align: center;
        padding: 0 2rem;
    }

    div.highlightTextContainer {
        width: 90%;
        margin: 4rem 5% 0 5%;
    }

    div.trends, div.fashionWeek {
        width: 90%;
        margin: 3rem 5% 1rem 5%;
        padding: 0;
    }

    .trends button, .fashionWeek button {
        width: 40%;
        margin: 0 30% 0 30%;
    }

    .trends h4, .fashionWeek h4 {
        font-size: 1.1rem;
    }

    input[type="email"], input[type="submit"] {
        width: 100%;
        text-align: center;
    }

    .contact p, .copyright {
        font-size: 0.7rem;
        font-weight: 400;
    }

}